<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Palindrom</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Palindrom oder nicht?</h1>
    <img src="palindrom.png" height="30%" width="30%" alt="palindrom.png">
    <img class="float-right" src="palindromshirt.jpg" alt="palindromshirt.png">
    <form action="#" th:action="@{/index}" th:object="${palindrom}" method="post">
        <p>Text: </p>
        <input type="text" class="form-control" th:field="*{text}">
        <br>
        <br>
        <input width="200px" class="btn btn-success" type="submit" value="Check">
        <br>
        <br>
        <p>Ausgabe: </p>
        <input type="text" class="form-control" th:field="*{output}">

    </form>
    <hr>
    <footer>
        <small>© 2019 / Author: Philipp Kiss</small>
    </footer>
</div>
</body>
</html>